img {
  width: 100%;
}

p.navbar-brand {
  font-size: 40px;
  text-align: center;
}

svg {
  width: 28px;
  vertical-align: middle;
  height: 28px;
  fill: #017ac5;
}

.card-body {
  width: 50%;
  margin: 50px auto;
  border: 1px solid #f3f3f3;
  padding: 20px 20px 38px;
  border-radius: 5px;
  box-shadow: 0 12px 28px 1px rgba(17, 16, 34, 0.08);
}

h5.card-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  margin: 0px 0px 20px;
}

h6.card-subtitle.mb-2.text-muted {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 20px;
}

.card-body img {
  margin-bottom: 30px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

a.card-link {
  background: #007ac5;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 18px;
}

.text-muted span {
  color: #017ac5;
  font-weight: bold;
}

@media (max-width: 2000px) {
  .card-body {
    width: 32%;
  }
}
